<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">What is available?</h1>
          <p>
            company = ['Godfather's Pizza', 'Pizza Hut', 'Domino's Pizza', 'IMO's Pizza']
          </p>
          <p>
            name = [ Egg-Ceptional Pizza ,
            BBQ Chicken Pizza ,
            All Meat Pizza ,
            Cheese Pizza ,
            Veggie Pizza ,
            Deluxe Pizza ,
            Chipotle Chicken and Bacon Pizza (Original, Golden or Thin Crust) ,
            BBQ Bacon Cheeseburger Pizza (Original, Golden or Thin Crust) ,
            BBQ Lover's™ (Pan Pizza) ,
            Meat Lover's® Pizza (Pan Pizza) ,
            Ultimate Cheese Lover's Pizza (Pan Pizza) ,
            Veggie Lover's® Pizza (Pan Pizza) ,
            Supreme Pizza (Pan Pizza) ,
            Super Supreme Pizza (Pan Pizza) ,
            Chicken Supreme Pizza (Pan Pizza) ,
            New Primo Meat Pizza (Pan Pizza) ,
            Hawaiian Luau (Pan Pizza) ,
            Pan Pizza ,
            Old Fashioned Meatbrawl™ (Pan Pizza) ,
            Pepperoni Lover's® Pizza (Pan Pizza) ,
            Hand Tossed ,
            Crunchy Thin Crust ,
            Hot Stuff Pizza (Mozza-Loaded Crust) ,
            BLT Pizza (Original, Golden or Thin Crust) ,
            Thin N Crispy ,
            Hand-Tossed ,
            Hawaiian Pizza (Original, Golden or Thin Crust) ,
            Hawaiian Pizza (Mozza-Loaded Crust) ,
            Taco Pie Pizza (Mozza-Loaded Crust) ,
            New Primo Meat Pizza (Hand-Tossed) ,
            Taco Pie Pizza (Original, Golden or Thin Crust) ,
            BLT Pizza (Mozza-Loaded Crust) ,
            Pepperoni Lover's® Pizza (Hand-Tossed) ,
            New Primo Meat Pizza (Thin N Crispy) ,
            Buffalo Chicken Pizza (Original, Golden or Thin Crust) ,
            Buffalo Chicken Pizza (Mozza-Loaded Crust) ,
            Hawaiian Luau (Hand-Tossed) ,
            Super Combo Pizza (Original, Golden or Thin Crust) ,
            Supreme Pizza (Thin N Crispy) ,
            Hawaiian Luau (Thin N Crispy) ,
            Chicken Supreme Pizza (Thin N Crispy) ,
            Chicken Supreme Pizza (Hand-Tossed) ,
            Super Hawaiian Pizza (Original, Golden or Thin Crust) ,
            Ultimate Cheese Lover's Pizza (Thin N Crispy) ,
            Supreme Pizza (Hand-Tossed) ,
            Humble Pie Pizza (Original, Golden or Thin Crust) ,
            Humble Pie Pizza (Mozza-Loaded Crust) ,
            Veggie Lover's® Pizza (Thin N Crispy) ,
            Veggie Lover's® Pizza (Hand-Tossed) ,
            BBQ Lover's™ (Hand-Tossed) ,
            Classic Combo Pizza (Mozza-Loaded Crust) ,
            Veggie Pie Pizza (Original, Golden or Thin Crust) ,
            Pepperoni Lover's® Pizza (Thin N Crispy) ,
            Ultimate Cheese Lover's Pizza (Hand-Tossed) ,
            Veggie Pie Pizza (Mozza-Loaded Crust) ,
            BBQ Lover's™ (Thin N Crispy) ,
            Meat Lover's® Pizza (Thin N Crispy) ,
            Classic Combo Pizza (Original, Golden or Thin Crust) ,
            Meat Lover's® Pizza (Hand-Tossed) ,
            Hot Stuff Pizza (Original, Golden or Thin Crust) ,
            Bacon Cheeseburger Pizza (Mozza-Loaded Crust) ,
            Super Combo Pizza (Mozza-Loaded Crust) ,
            Deluxe Feast® (Hand Tossed or Thin Crust) ,
            Pretzel Piggy™ (Hand-Tossed) ,
            Garden Party™ (Thin N Crispy) ,
            All-Meat Combo Pizza (Original, Golden or Thin Crust) ,
            Super Hawaiian Pizza (Mozza-Loaded Crust) ,
            Cock-a-doodle Bacon™ (Hand-Tossed) ,
            BBQ Bacon Cheeseburger Pizza (Mozza-Loaded Crust) ,
            Hot and Twisted™ (Hand-Tossed) ,
            Mozza-Loaded Crust ,
            Original, Golden or Thin Crust ,
            Chipotle Chicken and Bacon Pizza (Mozza-Loaded Crust) ,
            BBQ Bacon Cheeseburger (Hand-Tossed) ,
            Giddy-Up BBQ Chicken™ (Hand-Tossed) ,
            Buffalo State of Mind™ (Hand-Tossed) ,
            Cherry Pepper Bombshell™ (Thin N Crispy) ,
            Thin Crust ,
            Super Veggie Pizza (Mozza-Loaded Crust) ,
            Super Veggie Pizza (Original, Golden or Thin Crust) ,
            All-Meat Combo Pizza (Mozza-Loaded Crust) ,
            Cheese (Original, Golden or Thin Crust) ,
            Bacon Cheeseburger Pizza (Original, Golden or Thin Crust) ,
            Super Supreme Pizza (Hand-Tossed) ,
            Brooklyn Style ,
            Super Taco Pizza (Original, Golden or Thin Crust) ,
            Bacon Cheeseburger Feast® (Hand Tossed or Thin Crust) ,
            Super Taco Pizza (Mozza-Loaded Crust) ,
            Cheese (Mozza-Loaded Crust) ,
            Super Supreme Pizza (Thin N Crispy) ,
            The Don (Original, Golden or Thin Crust) ,
            America's Favorite Feast® (Hand Tossed or Thin Crust) ,
            The Don (Mozza-Loaded Crust) ,
            7-Alarm Fire™ (Hand-Tossed) ,
            All-Meat Combo Pizza (Original Crust) ,
            Cheese (Original or Thin Crust) ,
            Classic Combo Pizza (Original or Thin Crust) ,
            Classic Combo Pizza (Original Crust) ,
            All-Meat Combo Pizza (Original or Golden Crust) ,
            Classic Combo Pizza (Original or Golden Crust) ,
            Taco Pie Pizza (Original or Thin Crust) ,
            Bacon Cheeseburger Pizza (Original Crust) ,
            Bacon Cheeseburger Pizza (Original or Golden Crust) ,
            Taco Pie Pizza (Original or Golden Crust) ,
            Taco Pie Pizza (Original Crust) ,
            Bacon Cheeseburger Pizza (Original or Thin Crust) ,
            Humble Pie Pizza (Original Crust) ,
            Philly Cheese Steak (Hand Tossed, Handmade Pan or Thin Crust) ,
            Humble Pie Pizza (Original or Golden Crust) ,
            Margherita Pizza (Original, Golden or Thin Crust) ,
            The Don (Original or Golden Crust) ,
            The Don (Original or Thin Crust) ,
            Super Veggie Pizza (Original or Golden Crust) ,
            Super Veggie Pizza (Original or Thin Crust) ,
            BBQ Bacon Cheeseburger Pizza (Original Crust) ,
            Spinach & Feta (Brooklyn Style) ,
            Chipotle Chicken and Bacon Pizza (Original Crust) ,
            Spinach & Feta (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Margherita Pizza (Thin Crust) ,
            Super Taco Pizza (Original or Golden Crust) ,
            Margherita Chicken Pizza (Original, Golden or Thin Crust) ,
            Margherita Chicken Pizza (Thin Crust) ,
            Original Crust ,
            Original or Golden Crust ,
            Original or Thin Crust ,
            Spinach & Feta (Hand Tossed, Handmade Pan or Thin Crust) ,
            Spinach & Feta (Hand Tossed or Thin Crust) ,
            Gluten Free Crust ,
            Super Taco Pizza (Original or Thin Crust) ,
            Super Hawaiian Pizza (Original or Thin Crust) ,
            Humble Pie Pizza (Original or Thin Crust) ,
            Hawaiian Pizza (Original or Golden Crust) ,
            Veggie Pie Pizza (Original Crust) ,
            Veggie Pie Pizza (Original or Golden Crust) ,
            Veggie Pie Pizza (Original or Thin Crust) ,
            Hot Stuff Pizza (Original Crust) ,
            Hot Stuff Pizza (Original or Golden Crust) ,
            Cheese (Original Crust) ,
            Hot Stuff Pizza (Original or Thin Crust) ,
            Hawaiian Pizza (Original Crust) ,
            Hawaiian Pizza (Original or Thin Crust) ,
            Super Hawaiian Pizza (Original or Golden Crust) ,
            BLT Pizza (Original Crust) ,
            BLT Pizza (Original or Golden Crust) ,
            BLT Pizza (Original or Thin Crust) ,
            Buffalo Chicken Pizza (Original Crust) ,
            Buffalo Chicken Pizza (Original or Golden Crust) ,
            Buffalo Chicken Pizza (Original or Thin Crust) ,
            Super Combo Pizza (Original or Golden Crust) ,
            Super Combo Pizza (Original or Thin Crust) ,
            Cheese (Original or Golden Crust) ,
            Super Supreme Pizza (Skinny Slice) ,
            Create Your Own (Gluten-Free Crust) ,
            Bacon Cheeseburger Feast® (Brooklyn Style) ,
            Memphis BBQ Chicken (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Memphis BBQ Chicken (Brooklyn Style) ,
            Memphis BBQ Chicken (Gluten Free Crust) ,
            America's Favorite Feast® (Handmade Pan) ,
            America's Favorite Feast® (Hand Tossed, Thin Crust or Brooklyn Style) ,
            America's Favorite Feast® (Brooklyn Style) ,
            America's Favorite Feast® (Gluten Free Crust) ,
            Bacon Cheeseburger Feast® (Handmade Pan) ,
            Bacon Cheeseburger Feast® (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Bacon Cheeseburger Feast® (Gluten Free Crust) ,
            Memphis BBQ Chicken (Hand Tossed or Thin Crust) ,
            Deluxe Feast® (Handmade Pan) ,
            Deluxe Feast® (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Deluxe Feast® (Brooklyn Style) ,
            Deluxe Feast® (Gluten Free Crust) ,
            ExtravaganZZa Feast® (Hand Tossed or Thin Crust) ,
            ExtravaganZZa Feast® (Hand Tossed, Handmade Pan or Thin Crust) ,
            ExtravaganZZa Feast® (Hand Tossed, Thin Crust or Brooklyn Style) ,
            ExtravaganZZa Feast® (Brooklyn Style) ,
            ExtravaganZZa Feast® (Gluten Free Crust) ,
            Memphis BBQ Chicken (Hand Tossed, Hnadmade Pan or Thin Crust) ,
            Buffalo Chicken (Gluten Free Crust) ,
            MeatZZa Feast® (Hand Tossed, Handmade Pan or Thin Crust) ,
            Cali Chicken Bacon Ranch™ (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Philly Cheese Steak (Brooklyn Style) ,
            Philly Cheese Steak (Gluten Free Crust) ,
            Pacific Veggie (Hand Tossed or Thin Crust) ,
            Pacific Veggie (Hand Tossed, Handmade Pan or Thin Crust) ,
            Pacific Veggie (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Pacific Veggie (Brooklyn Style) ,
            Pacific Veggie (Gluten Free Crust) ,
            Cali Chicken Bacon Ranch™ (Hand Tossed or Thin Crust) ,
            Cali Chicken Bacon Ranch™ (Hand Tossed, Handmade Pan or Thin Crust) ,
            Cali Chicken Bacon Ranch™ (Brooklyn Style) ,
            Buffalo Chicken (Brooklyn Style) ,
            Cali Chicken Bacon Ranch™ (Gluten Free Crust) ,
            Fiery Hawaiian™ (Hand Tossed or Thin Crust) ,
            Fiery Hawaiian™ (Hand Tossed, Handmade Pan or Thin Crust) ,
            Fiery Hawaiian™ (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Fiery Hawaiian™ (Brooklyn Style) ,
            Fiery Hawaiian™ (Gluten Free Crust) ,
            Buffalo Chicken (Hand Tossed or Thin Crust) ,
            Buffalo Chicken (Hand Tossed, Handmade Pan or Thin Crust) ,
            Buffalo Chicken (Hand Tossed, Thin Crust or Brooklyn Style) ,
            MeatZZa Feast® (Hand Tossed or Thin Crust) ,
            MeatZZa Feast® (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Skinny Club™ (Skinny Slice) ,
            Wisconsin 6 Cheese (Hand Tossed, Handmade Pan or Thin Crust) ,
            Wisconsin 6 Cheese (Gluten Free Crust) ,
            BBQ Lover's™ (Stuffed Crust) ,
            BBQ Lover's™ (Skinny Slice) ,
            Wisconsin 6 Cheese (Brooklyn Style) ,
            Chicken Supreme Pizza (Stuffed Crust) ,
            Chicken Supreme Pizza (Skinny Slice) ,
            Wisconsin 6 Cheese (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Handmade Pan ,
            New Primo Meat Pizza (Skinny Slice) ,
            Hawaiian Luau (Stuffed Crust) ,
            Supreme Pizza (Stuffed Crust) ,
            Hawaiian Luau (Skinny Slice) ,
            Wisconsin 6 Cheese (Hand Tossed or Thin Crust) ,
            Super Supreme Pizza (Stuffed Crust) ,
            Philly Cheese Steak (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Spinach & Feta (Gluten Free Crust) ,
            Skinny Beach™ (Skinny Slice) ,
            Skinny With A Kick™ (Skinny Slice) ,
            Skinny Italy (Skinny Slice) ,
            Skinny Luau™ (Skinny Slice) ,
            Supreme Pizza (Skinny Slice) ,
            Honolulu Hawaiian (Hand Tossed or Thin Crust) ,
            MeatZZa Feast® (Brooklyn Style) ,
            Honolulu Hawaiian (Gluten Free Crust) ,
            MeatZZa Feast® (Gluten Free Crust) ,
            Ultimate Pepperoni Feast™ (Hand Tossed or Thin Crust) ,
            Ultimate Pepperoni Feast™ (Hand Tossed, Handmade Pan or Thin Crust) ,
            Ultimate Pepperoni Feast™ (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Ultimate Pepperoni Feast™ (Brooklyn Style) ,
            Ultimate Pepperoni Feast™ (Gluten Free Crust) ,
            Philly Cheese Steak (Hand Tossed or Thin Crust) ,
            Stuffed Crust ,
            Skinny Slice ,
            Pepperoni Lover's® Pizza (Stuffed Crust) ,
            Veggie Lover's® Pizza (Skinny Slice) ,
            Pepperoni Lover's® Pizza (Skinny Slice) ,
            Honolulu Hawaiian (Brooklyn Style) ,
            Meat Lover's® Pizza (Stuffed Crust) ,
            Meat Lover's® Pizza (Skinny Slice) ,
            Honolulu Hawaiian (Hand Tossed, Thin Crust or Brooklyn Style) ,
            Ultimate Cheese Lover's Pizza (Stuffed Crust) ,
            Ultimate Cheese Lover's Pizza (Skinny Slice) ,
            Honolulu Hawaiian (Hand Tossed, Handmade Pan or Thin Crust) ,
            Veggie Lover's® Pizza (Stuffed Crust) ,
            New Primo Meat Pizza (Stuffed Crust)  ]
          </p>
          <p>
            type = [ Specialty Pizzas ,
            Classic Recipe Pizzas ,
            Feast Pizzas ,
            New Recipe Pizzas ,
            Cheese Pizza ,
            Cheeses Pizza ,
            Express Favorites ,
            Skinny Pizzas ,
            Gluten-Free Pizzas ]
          </p>
          <p>
            size = [ 'Large', 'Medium', 'Small (10")', 'Medium (12")', 'Large (14")',
            'Small', 'Jumbo', 'X-Large (16")', 'Mini', 'Personal', 'X Large (16")' ]
          </p>
        </div>
      </div>
    </div>
    <a type="button" href="/" class="btn btn-success">Back</a>
  </body>
</html>
